# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build artifacts
dist/
out/
release/
build/
*.asar
*.asar.unpacked

# Electron specific
# Electron-forge build output
.electron-forge/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log

*.env
*.txt